.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  flex: 1;
  display: flex;
  align-items: center;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text-div > div {
  text-align: center;
}

.greeting-text {
  margin-top: 80px;
  font-size: 50px;
  line-height: 1.1;
  color: white !important;
  font-family: "Google Sans Bold";
}

.greeting-nickname {
  font-size: 22px;
  color: white !important;
  font-family: "Google Sans Italic";
}

.greeting-text-p {
  font-size: 20px;
  color: white !important;
  line-height: 40px;
  margin-bottom: 4rem;
  font-family: "Google Sans Regular";
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 40px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greet-main {
    margin-top: 0px;
  }
  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 20px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .greeting-nickname {
    font-size: 14px;
  }
}