.experience-main {
  width: auto;
}

.experience-heading-div {
  display: flex;
  flex: 1;
}

.experience-heading-div > * {
  flex: 1;
}

.experience-heading-img-div {
  align-items: center;
  justify-content: center;
}

.experience-heading-text-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
}

.experience-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.experience-heading-text {
  font-size: 50px;
  font-weight: 400;
  color: white !important;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 0px;
}

.experience-heading-sub-text {
  font-size: 22px;
  color: white !important;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
}

.experience-heading-sub-header {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
  margin-top: 4rem;
}

.experience-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  color: white !important;
  font-family: "Google Sans Regular";
}

@media (max-width: 1380px) {
  .experience-heading-text {
    font-size: 50px;
  }
  .experience-heading-sub-text {
    font-size: 22px;
  }
  .experience-heading-sub-header {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .experience-heading-text {
    font-size: 30px;
  }

  .experience-heading-sub-text {
    font-size: 20px;
  }

  .experience-heading-sub-header {
    font-size: 25px;
  }

  .experience-heading-div {
    flex-direction: column;
  }

  .experience-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
}
