.vertical-timeline-element-title {
  font-family: "Google Sans Medium";
}

.vertical-timeline-element-subtitle {
  margin-top: 5px;
}

.vertical-timeline-element-subtitle,
.vertical-timeline-element p,
.vertical-timeline-element span {
  font-family: "Google Sans Regular";
}

.experience-company-logo {
  width: 70px;
  object-fit: contain;
  margin-top: 10px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: seesaw;
  -moz-animation-name: seesaw;
  -webkit-animation-iteration-count: infinite;
}

@keyframes seesaw {
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}