.vertical-timeline-element-title {
  font-family: "Google Sans Medium";
}

.vertical-timeline-element-subtitle {
  margin-top: 5px;
}

.vertical-timeline-element-subtitle,
.vertical-timeline-element p,
.vertical-timeline-element span {
  font-family: "Google Sans Regular";
}