.education-main {
  width: 100%;
}

.heading-div {
  display: flex;
  flex: 1;
  align-items: center;
}

.heading-div > * {
  flex: 1;
}

.heading-img-div {
  align-items: center;
  justify-content: center;
}

.heading-text-div {
  text-align: center;
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.heading-text {
  font-size: 50px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  color: white !important;
  text-align: center;
  margin-top: 0px;
}

.heading-sub-text {
  font-size: 22px;
  font-family: "Google Sans Regular";
  text-align: center;
  color: white !important;
}

@media (max-width: 1380px) {
  .heading-text {
    font-size: 50px;
  }
  .heading-sub-text {
    font-size: 252x;
  }
}

@media (max-width: 768px) {
  .heading-text {
    font-size: 30px;
  }

  .basic-education {
    margin-left: 0%;
    margin-right: 0%;
  }

  .heading-sub-text {
    font-size: 20px;
  }

  .heading-div {
    flex-direction: column;
  }
}
